
image{
    display:block;
}
input{
    display:block;
    width:100%;
    height:50px;
    border-style:hidden;
    border-top-style:solid;
}
input:hover{
    background-color: lightblue;
    border-style:solid;
    border-top-style:hidden;
}
.photo1{
    float:left;
    display:block;
    border-style: ridge;
    border-width:10px;

}
.photo2{
    float:right;
    display:block;
    border-style: ridge;
    border-width:10px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:2%;
  }
  .flex-container {
    align-items: center;
    display: flex;
    justify-content: center;
}
p {
    display:block;
    border-style:solid;
    border-width:2px;
    margin:0;
}
img {
    padding:-1px;
    border-style:solid;
    border-width:10px;
    vertical-align: -webkit-baseline-middle;
}
.rank {
    display:block;
    text-align: center;

}
.elo {
    margin-bottom:20px;
}
